
#main {
	/*background-color: cornflowerblue;*/
	padding: 0px;
	width: 100%;
	height: 100%;
}


#top {
	background-color: dodgerblue;
	height: 90px;
	margin-left: -8px;
	/*margin-right: -8px;*/
	margin-top: -8px;
}

#middle {
	width: 100%;
	height: 89%;
	/*background-color: beige;*/
	float: left;
}


img {
	border: 0;
	width: 100.5%;
	height: 100.5%;
}

#bottom {
	float: left;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	background-color: #1D80CF;
}

#name {
	float: left;
	margin-left: 15%;
	/*font: swash;*/
	font-size: 50px;
	font-style: normal;
	margin-top: 20px;
}


#word {
	float: left;
	margin-top: 40px;
	margin-left: 40px;
	font-size: 20px;
}


#try_luck {
	float: right;
	margin-right: 14.4%;
	margin-top: 28px;
}


#login_button {
	float: right;
	margin-right: 29px;
	margin-top: 28px;
}

.top_button {
	border: 1px solid #1D80CF;
	width: 100px;
	text-align: center;
	font-size: 15px;
	color: dodgerblue;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: #ffffff;
	/*background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));*/
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
	border-radius: 5px;
	cursor: pointer;
	line-height: 33px;
	display: block;
	padding: 0 15px;

}

.top_button:hover{
	background: #1D80CF;
	color: #ffffff;
}


/*#video {*/
	/*float: left;*/
	/*margin-left: 100px;*/
/*}*/

#sign_up {
	float: right;
	/*margin-right: 15%;*/
	margin-right: -6px;
}

input {
	/*background-color: transparent;*/
}


#nick_name {
	margin-top: 60px;
}

#email_input {
	margin-top: 20px;
}

#password {
	margin-top: 20px;
}

#password_again {
	margin-top: 20px;
}

#sign {
	margin-top: 10px;
}

input {
	width: 220px;
	font-size: 15px;
	border-radius: 5px;
	padding: 8px;
}

.sign_button {
	border: 1px solid #1D80CF;
	width: 240px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: dodgerblue;
	/*background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));*/
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
	border-radius: 5px;
	cursor: pointer;
	line-height: 33px;
	display: block;
	padding: 0 15px;
	border: 0;
}

#iframe_page {

	float: right;
	margin-right: 14%;
	/*background-color: red;*/

}



